/* Universal styles  */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 16px;
   --pri-red: hsl(0, 36%, 75%);
   --soft-red: hsl(0, 93%, 68%);
   --neutral-red: hsl(0, 6%, 24%);
   --primary-font: 'Josefin Sans', sans-serif;
}

body {
   min-height: 100vh;
   text-rendering: optimizeSpeed;
   font-family: var(--primary-font);
   line-height: 1.5;
   background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
   font: inherit;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
img,
svg {
   vertical-align: middle;
}

.main-header {
   height: 10vh;
   padding-left: 2rem;
   display: flex;
   align-items: center;
   /* margin: auto; */
}

.flex-center {
   display: flex;
   align-items: center;
   justify-content: center;
}

.main-content--size {
   max-width: 375px;
   display: flex;
   align-items: center;
}

.main-content--format {
   padding: 1.25rem;
}

.hero-image {
   display: block;
   /* margin: auto; */
}

.com-soon__heading {
   text-align: center;
   margin-top: 1.75rem;
   font-size: 2.5rem;
   line-height: 2.62rem;
   letter-spacing: .67rem;
   text-transform: uppercase;
   font-weight: normal;
}

.com-soon__header-first {
   color: var(--pri-red);
}

.com-soon__content {
   margin-top: 1.5rem;
   color: var(--pri-red);
   line-height: 1.375rem;
   text-align: center;
}

.email-submit {
   display: flex;
   align-items: center;
   margin-top: 1.5rem;
   position: relative;
}

.email-submit__input {
   width: 100%;
   height: 3rem;
   border: 2px solid var(--pri-red);
   border-radius: 1.5rem;
   padding-left: 2rem;
}

.email-submit__input::placeholder {
   color: var(--pri-red);
   line-height: 1.75rem;
}

.email-submit__input:invalid {
   outline: 2px solid red;
}

.email-submit__input:focus {
   outline: none;
}

.btn--submit {
   width: 4rem;
   height: 3rem;
   border-radius: 2rem;
   background-image: linear-gradient(to right, #F8BFBF, #EE8B8B);
   border: none;
   position: absolute;
   right: 0;
   cursor: pointer;
}

.js-toggle {
   display: none;
}

@media (min-width: 769px) {
  body {
   display: grid;
   grid-template-areas: 
      "main hero-img";
   grid-template-columns: 1fr auto;
   /* grid-template-rows: auto 1fr; */
  }

  .main-header {
   height: 10vh;
   padding-left: 10rem;
   grid-area: main;
   /* display: flex;
   align-items: end; */
   /* margin: auto; */
   }

   .hero-image {
      grid-area: hero-img;

   }

   main {
      grid-area: main;
      padding-inline: 10rem;
   }

   .main-content--size {
      max-width: 58vw;
      display: block;
   }

   .main-content--format {
      padding: 0;
   }

}
